
.vs/Shop_system/FileContentIndex/199f99a1-3df6-4992-801c-37c2e21765d1.vsidx
.vs/Shop_system/FileContentIndex/239fe1e5-937b-4b0b-bbdb-0f40e1ab92a4.vsidx
Shop_system/bin/Debug/net6.0-windows/Shop_system.dll
Shop_system/bin/Debug/net6.0-windows/Shop_system.exe
