
.vs/Shop_system/FileContentIndex/28147c33-6c15-462d-9f39-b270ec2b28be.vsidx
.vs/Shop_system/FileContentIndex/d2a8256b-720f-4d90-964e-592ca36650fd.vsidx
.vs/Shop_system/FileContentIndex/e1de6e4e-f6e2-414f-b842-ccb1ef586967.vsidx
.vs/Shop_system/FileContentIndex/e9f8aa95-8dde-40c7-b8e9-29b9e106dfc3.vsidx
.vs/Shop_system/FileContentIndex/f0396c30-3ece-4d4d-b92f-38c37d5c17a2.vsidx
.vs/Shop_system/FileContentIndex/730b57ae-e358-4240-a804-12e1110333bc.vsidx
.vs/Shop_system/FileContentIndex/848a4f9a-ff7c-421e-8a4f-4e6b585dc07f.vsidx
.vs/Shop_system/FileContentIndex/89406eee-0d5c-4af4-b63a-d1cf3c5ae4b4.vsidx
Shop_system/obj/Debug/net6.0-windows/TempPE/Properties.Resources.Designer.cs.dll
