
.vs/Shop_system/FileContentIndex/199f99a1-3df6-4992-801c-37c2e21765d1.vsidx
.vs/Shop_system/FileContentIndex/239fe1e5-937b-4b0b-bbdb-0f40e1ab92a4.vsidx
Shop_system/bin/Debug/net6.0-windows/Shop_system.dll
Shop_system/bin/Debug/net6.0-windows/Shop_system.exe
.vs/Shop_system/FileContentIndex/49fd2a55-4dca-416e-8c02-6450c33d68cf.vsidx
.vs/Shop_system/FileContentIndex/85c261f4-16cd-4832-aad7-b3262adfb41e.vsidx
.vs/Shop_system/FileContentIndex/bed2920a-98ea-4f22-8ed7-aceab917b132.vsidx
.vs/Shop_system/FileContentIndex/c6e24568-8502-4575-9f7f-e3f682fcfe3e.vsidx
.vs/Shop_system/FileContentIndex/14e40d45-aa3f-4668-819b-7a12e277b7a7.vsidx
.vs/Shop_system/FileContentIndex/3b109828-41da-4642-b1b4-ebcd9c9225bf.vsidx
.vs/Shop_system/FileContentIndex/3ccd5998-2055-4056-86f9-a901a5fc638a.vsidx
.vs/Shop_system/FileContentIndex/5f825b90-ea1d-4579-9396-9850477f7cb1.vsidx
.vs/Shop_system/FileContentIndex/b0bf2f3c-0192-453d-835e-6648b3bc45ee.vsidx
Shop_system/Forms/AddcustomerForm.Designer.cs
Shop_system/Forms/AddcustomerForm.resx
Shop_system/obj/Debug/net6.0-windows/Shop_system.assets.cache
Shop_system/obj/Debug/net6.0-windows/Shop_system.csproj.AssemblyReference.cache
Shop_system/obj/Debug/net6.0-windows/Shop_system.designer.deps.json
Shop_system/obj/Debug/net6.0-windows/Shop_system.designer.runtimeconfig.json
Shop_system/obj/Debug/net6.0-windows/Shop_system.GeneratedMSBuildEditorConfig.editorconfig
Shop_system/obj/Debug/net6.0-windows/Shop_system.designer.runtimeconfig.json
Shop_system/obj/Debug/net6.0-windows/Shop_system.GeneratedMSBuildEditorConfig.editorconfig
Shop_system/obj/Debug/net6.0-windows/Shop_system.designer.deps.json
